:root {
    --main-color: #fc8805;
}

.separator_cat,
.separator_theme {
  background: var(--main-color);
  padding: 0px 9px !important;
}
.separator_cat .cf-field__body h3,
.separator_theme .cf-field__body h3 {
  color: #ffffff;
  font-size: 16px;
}
.postbox.carbon-box {
  margin-bottom: 30px;
}
.postbox.carbon-box .postbox-header {
  background: var(--main-color);
  color: #fff;
  padding: 0px 9px !important;
}
.postbox.carbon-box .postbox-header h2.hndle.ui-sortable-handle {
  color: #fff !important;
  font-size: 16px !important;
  padding: 0 !important;
}
.postbox.carbon-box .postbox-header .handle-actions.hide-if-no-js button,
.postbox.carbon-box .postbox-header .handle-actions.hide-if-no-js span {
  color: #fff;
}
.postbox.carbon-box .inside {
  -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1803921569);
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1803921569);
  margin: 10px 20px 0 !important;
  padding: 10px 10px !important;
  border-radius: 10px;
}
.postbox.carbon-box .inside .cf-container__fields {
  border: none !important;
}
.postbox.carbon-box .inside .cf-container__fields .cf-field {
  border: none !important;
}
.cf-container__tabs
  ul.cf-container__tabs-list
  li.cf-container__tabs-item.cf-container__tabs-item--current {
  background: var(--main-color);
  font-weight: 500;
}
.cf-container__tabs ul.cf-container__tabs-list li.cf-container__tabs-item {
  background: #888888;
  font-weight: 100;
  cursor: pointer !important;
  padding: 2px 0px;
  font-size: 14px;
}
.cf-container__tabs
  ul.cf-container__tabs-list
  li.cf-container__tabs-item
  button {
  color: #ffffff;
  cursor: pointer !important;
}
body[class^="taxonomy-"] form#addtag {
  background-color: #fff;
}
span.cf-field__asterisk {
  padding-left: 6px;
}
span.cf-field__asterisk:after {
  content: "obligatorio";
  font-style: italic;
  font-size: 10px;
}
.cf-file__remove:before {
  background-color: #ee4c3e !important;
}
button.cf-complex__group-action
  span.dashicons-before.dashicons-trash.cf-complex__group-action-icon {
  color: #ee4c3e !important;
}
button.cf-complex__group-action
  span.dashicons-before.dashicons-admin-page.cf-complex__group-action-icon {
  color: #fbc40c !important;
}
button.cf-complex__group-action
  span.dashicons-before.cf-complex__group-action-icon.dashicons-arrow-up {
  color: #4285f4;
}
.cf-complex__actions
  .cf-complex__inserter
  button.button.cf-complex__inserter-button {
  background-color: #34a853;
  border-color: #34a853;
  color: #ffffff;
}
.cf-complex__actions button.button.cf-complex__toggler {
  background-color: #4285f4;
  border-color: #4285f4;
  color: #ffffff;
}
.cf-complex__inserter button.button.cf-complex__inserter-button {
  background-color: #34a853;
  border-color: #34a853;
  color: #ffffff;
}
.cf-media-gallery__actions .cf-media-gallery__browse {
  background-color: #34a853;
  border-color: #34a853;
  color: #ffffff;
}
.cf-media-gallery__actions .cf-media-gallery__browse:hover {
  background-color: #34a853;
  border-color: #34a853;
  color: #ffffff;
}
em.cf-field__help {
  font-weight: 600;
  color: #000;
  font-size: 11px;
  font-style: normal;
  margin-left: 27px;
  position: relative;
}
em.cf-field__help:before {
  content: "\f223";
  font-family: dashicons;
  font-size: 23px;
  font-weight: 100;
  display: inline-block;
  vertical-align: middle;
  color: #fbc40c;
  position: absolute;
  top: -8px;
  left: -30px;
}
#addtag em.cf-field__help:before {
  top: 0px;
}
.cf-file__inner {
  width: 100% !important;
}
.wp-editor-container .mce-edit-area > iframe {
  min-height: 200px !important;
}
.cf-field.cf-urlpicker span.button.button-secondary {
  background: #34a853;
  border-color: #34a853;
  color: #ffffff;
}
.complex_col_2 .cf-complex__group.cf-complex__group--grid {
  width: 50%;
  height: auto;
  display: inline-block;
}
.complex_col_2 .ui-sortable-placeholder {
  display: inline-block !important;
  width: 50% !important;
  height: 0px !important;
}
.complex_col_2 .ui-sortable-helper {
  height: 0px !important;
  width: 50% !important;
}
.complex_col_3 .cf-complex__group.cf-complex__group--grid {
  width: 33.3333333333%;
  height: auto;
  display: inline-block;
}
.complex_col_3 .ui-sortable-placeholder {
  display: inline-block !important;
  width: 33.3333333333% !important;
  height: 0px !important;
}
.complex_col_3 .ui-sortable-helper {
  height: 0px !important;
  width: 33.3333333333% !important;
}
.complex_col_4 .cf-complex__group.cf-complex__group--grid {
  width: 25%;
  height: auto;
  display: inline-block;
}
.complex_col_4 .ui-sortable-placeholder {
  display: inline-block !important;
  width: 25% !important;
  height: 0px !important;
}
.complex_col_4 .ui-sortable-helper {
  height: 0px !important;
  width: 25% !important;
}
.complex_col_5 .cf-complex__group.cf-complex__group--grid {
  width: 20%;
  height: auto;
  display: inline-block;
}
.complex_col_5 .ui-sortable-placeholder {
  display: inline-block !important;
  width: 20% !important;
  height: 0px !important;
}
.complex_col_5 .ui-sortable-helper {
  height: 0px !important;
  width: 20% !important;
}
.complex_col_6 .cf-complex__group.cf-complex__group--grid {
  width: 16.6666666667%;
  height: auto;
  display: inline-block;
}
.complex_col_6 .ui-sortable-placeholder {
  display: inline-block !important;
  width: 16.6666666667% !important;
  height: 0px !important;
}
.complex_col_6 .ui-sortable-helper {
  height: 0px !important;
  width: 16.6666666667% !important;
}
.toplevel_page_crb_carbon_fields_container_opciones_generales #wpwrap {
  background: #ffffff;
}
.toplevel_page_crb_carbon_fields_container_opciones_generales
  #wpwrap
  div#carbon_fields_container_opciones_generales {
  border: none !important;
}
.toplevel_page_crb_carbon_fields_container_opciones_generales
  #wpwrap
  .cf-container__tabs
  li.cf-container__tabs-item {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.toplevel_page_crb_carbon_fields_container_opciones_generales
  #wpwrap
  .cf-container__fields {
  margin-top: 30px;
}
.toplevel_page_crb_carbon_fields_container_opciones_generales
  #wpwrap
  .cf-container__fields
  .cf-field.cf-separator {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-top: 30px;
}
.toplevel_page_crb_carbon_fields_container_opciones_generales
  #wpwrap
  .cf-container__fields
  .cf-field.cf-separator:first-child {
  margin-top: 0;
}
span.carbon-fields--urlpicker {
  border: 1px solid #555d66;
  padding: 10px 20px;
  border-radius: 3px;
}
span.carbon-fields--urlpicker span small,
span.carbon-fields--urlpicker span strong {
  font-size: 13px;
  font-weight: 500;
}
span.carbon-fields--urlpicker span strong:before {
  content: "Url: ";
  font-weight: 700;
}
span.carbon-fields--urlpicker span small {
  padding-top: 8px;
  display: block;
}
span.carbon-fields--urlpicker span small:before {
  content: "Titulo: ";
  font-weight: 700;
}
span.carbon-fields--urlpicker span small em {
  font-style: normal;
}
